[submodule "css_project_1"]
	path = css_1
	url = https://github.com/1orZero/Natours/
[submodule "css_2"]
	path = css_2
	url = https://github.com/1orZero/Trillo
[submodule "css_3"]
	path = css_3
	url = https://github.com/1orZero/Nexter_practice
